{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Library - Home</title>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>
<body>
    <div class="nav_bar">
        <a href="{% url 'home' %}" class="home_button">Home</a>
        <a href="{% url 'login' %}" class="home_button">Login</a>
        <a href="{% url 'signup' %}" class="home_button">Sign Up</a>
    </div>

        <div class="home_page_sec1">
            <div class="home_txt">
                <img id="home_img" src="https://image.librarything.com/pics/pile_english1.jpg" alt="Picture of books">
            </div>
            <div class="home_txt">
                <h1>Welcome to the Online Library</h1>
                <a href="#new-books" class="scroll-link" ">Discover our new books! -></a>
            </div>
        </div>
        
        <div class="home-text" id="new-books">
            <p>Explore, Learn, and Grow with Our Vast Collection of Books!</p>
        </div>
    
        
        <div id="book-list" class="book-container"></div>
        <script src="{% static 'JS/home.js' %}"></script>
</body>
</html>
